* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
  }
  
  a {
    text-decoration: inherit;
    color: inherit;
  }
  
  .App {
    min-height: 98.5vh;
    border: 9px solid gray;
    margin: 5px;
    padding: 5px;
  }



